/* ===== Dark mode support ===== */
html {
    color-scheme: light dark;
}

/* ===== Basic page style ===== */
body {
    font: 100%/1.5 system-ui;

    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}

/* ===== Accent color ===== */
:root {
    --color-accent: oklch(65% 50% 0);
}

/* ===== Navigation ===== */
nav {
    display: flex;
    margin-bottom: 1em;

    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
}

nav a {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
}

/* Hover */
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
}

/* Current page */
nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

/* ===== Theme switch ===== */
.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
}

/* ===== Forms ===== */
input,
textarea,
button,
select {
    font: inherit;
}

label {
    display: block;
    margin-block: 1em;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    min-height: 6em;
}

/* ===== Projects grid ===== */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects article {
    display: grid;
    gap: 0.5em;
}

.projects img {
    max-width: 100%;
}

/* ===== Typography ===== */
h1 {
    font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}